# Copy to .env for local development: cp .env.example .env

SERVER_PORT=8080

# Generate one with: openssl rand -hex 32
API_KEY=

IPFIRE_UPDATE_INTERVAL=1h
IPFIRE_HTTP_TIMEOUT=30s

IPFIRE_GAMBLING_SCORE=2
IPFIRE_MALWARE_SCORE=5
IPFIRE_PHISHING_SCORE=5
IPFIRE_PORNOGRAPHY_SCORE=2
IPFIRE_VIOLENCE_SCORE=2

LOG_LEVEL=INFO
